<div class="container">
  <h1>Top Coach</h1>
  <div class="question">
    <p><%= @question %></p>
    <p class="person">--You</p>
  </div>
  <div class="answer">
    <p><strong><%= @answer %><strong></p>
    <p class="person">--Coach</p>
  </div>
</div>

<!-- The answer.html.erb will display the question you ask your coach as well as his answer. -->
